extends layout

block content
  h2 抓取直播吧足球新闻数据
    a(href="https://www.zhibo8.cc") 直播吧
  button#createNewList 开始爬取数据
  p.hint(style="display:none") 正在获取数据中...
  div.list-container
    h2 数据列表
    ul.list
  script(src="/javascripts/jquery.js")
  script.
    $("#createNewList").click(function(){
        $(".hint").show();
        $.get("/createNews", function(data){
            console.log(data)
            if( data.code==1 ){
                data.data.forEach(function(item){
                    var li = `<li><a href="${item.url}">${item.name}</a></li>`
                    $(".list").append(li)
                });
                $(".hint").hide();
            }
        })
    });