extends layout

block content
  h2 抓取直播吧足球新闻数据
    a(href="https://www.zhibo8.cc") 直播吧
  button#createNewList 开始爬取数据
  br
  button#loadImg 加载图片
  br
  button#sendMsg 发送短信
  br
  button#sendEmail 发送邮件
  p.hint(style="display:none") 正在获取数据中...
  div.list-container(style="display:flex;align-item: center;justify-content:center;width:100%;")
    div.page-list(style="width:50%;")
      h2 数据列表
      ul.list
    div.img-list(style="width:50%;")
      h2 图片列表
      ul.list
  script(src="/javascripts/jquery.js")
  script.
    $("#createNewList").click(function(){
        $(".hint").show();
        $.get("/createNews", function(data){
            console.log(data)
            if( data.code==1 ){
                data.data.forEach(function(item){
                    var li = `<li><a href="${item.url}">${item.name}</a></li>`
                    $(".page-list .list").append(li)
                });
                $(".hint").hide();

                $.get("/createImgs", function(res){
                    console.log(res)
                })
            }
        })
    });

    $('#loadImg').click(function(){
        $.get("/loadImg", function (data) {
            if (data.code == 1) {
                data.data.forEach(function (img) {
                    var li = `<li><img src="${'images/'+img}"/></li>`;
                    $(".img-list .list").append(li);
                });
            }
        })
    })


    $('#sendMsg').click(function () {
       $.get("/sendMsg", function (data) {
            if (data.Code == "OK") {
            }
        })
    })

    $('#sendEmail').click(function () {
        var hour  = new Date().getHours()
        var min  = new Date().getMinutes()+1
        $.get("/sendEmail",{hour,min});
    })