<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>小书书</title>
        <meta name="keywords" content="关键词">
        <meta name="description" content="描述">
        <meta name="author" content="小书书">
        <style>
            body{font-family: "Microsoft YaHei",serif;user-select: none;}
            body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}
            ol,ul,li{margin:0;padding:0;list-style:none;}
            img{border:none;}
        </style>
    </head>
    <body>
        <div id="wrap">
            <h2>{{tip}}</h2>
            <h3>今天是:{{today}}</h3>
            <ul>
                {{each data}}
                <li>
                    <span>时间:{{$value.day}}</span>
                    <span>温度:<img src="{{$value.imgUrl}}"/>{{$value.temperature}}</span>
                    <span>风向:{{$value.windDir}}</span>
                    <span>风速:{{$value.windLevel}}</span>
                </li>
                {{/each}}
            </ul>
            <h2><a href="https://blog.xjjswh.cn/">关于我</a></h2>
        </div>
    </body>
</html>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1000, initial-scale=1.0" />
    <title>Vue3-CDN</title>
    <link rel="stylesheet" href="/vue/index.css" />
    <script src="/vue/vue.global.js"></script>
    <script src="/vue/index.full.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h2 v-text="message"></h2>
        <el-button type="primary" @click="onClick">点击</el-button>
        <my-number :number="number" @on-click="onEmit"></my-number>
        <el-button type="primary" @click="onSave">已选菜单整理</el-button>
        <el-collapse v-model="activeMenu">
          <el-collapse-item
            :title="item.name"
            :name="item.path"
            v-for="item in menuList"
            :key="item.path"
            :class="{children: item?.children?.length}"
            :disabled="item?.children?.length===0"
          >
            <template #title>
              <span>
                <el-checkbox
                  v-model="item.checked"
                  :label="item.name"
                  :indeterminate="item.indeterminate"
                  :disabled="item.path==='/home'"
                  @click.stop
                  @change="onChangeFirst($event,item)"
                />
              </span>
            </template>

            <el-checkbox-group
              v-model="item.checkedList"
              v-if="item.children"
              style="margin-left: 30px"
              @change="onChangeSecond($event, item)"
            >
              <el-checkbox :label="sitem.name" :value="sitem.path" v-for="sitem in item.children" :key="sitem.path" />
            </el-checkbox-group>
          </el-collapse-item>
        </el-collapse>
      </div>
    </div>

    <script>
      const { createApp, ref, toRefs, reactive, onMounted, watchEffect } = Vue
      const { ElMessage, ElCollapse, ElCheckboxGroup } = ElementPlus

      const MyNumber = {
        template: '<span v-text="text" @click="onClickNumber"></span>',
        emits: ['on-click'],
        props: {
          number: {
            type: Number,
            default: 0
          }
        },
        setup(props, ctx) {
          const state = reactive({
            text: ''
          })

          const animate = () => {
            let number = 0
            const start = performance.now()
            const duration = 500

            const run = (time) => {
              const elapsed = time - start
              const progress = Math.min(elapsed / duration, 1)
              const num = Math.floor(progress * props.number)
              if (progress < 1) {
                requestAnimationFrame(() => {
                  run(performance.now())
                })
              }
              state.text = format(num)
            }

            const format = (number) => {
              number = number + ''
              return number.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
            }
            run(start)
          }

          const onClickNumber = () => {
            ctx.emit('on-click', state.text)
          }

          watchEffect(() => {
            animate()
          })

          return {
            ...toRefs(state),
            onClickNumber
          }
        }
      }

      const app = createApp({
        components: { MyNumber, ElCollapse, ElCheckboxGroup },
        setup() {
          const state = reactive({
            message: 'Hello World!',
            number: 0,

            activeMenu: '',
            menuList: [
              { name: '首页', path: '/home', checked: true, indeterminate: false, checkedList: [] },
              {
                name: '商品管理',
                path: '/product',
                checked: false,
                indeterminate: false,
                checkedList: [],
                children: [{ name: '商品列表', path: '/product/list', checked: false, checkedList: [] }]
              },
              {
                name: '订单管理',
                path: '/order',
                checked: false,
                indeterminate: false,
                checkedList: [],
                children: [
                  { name: '订单列表', path: '/order/list', checked: false, checkedList: [] },
                  { name: '退款列表', path: '/order/money', checked: false, checkedList: [] }
                ]
              }
            ]
          })

          const onClick = () => {
            ElMessage.warning('test')
          }

          const onEmit = (text) => {
            ElMessage.info(`子组件传递事件: ${text}`)
          }

          const onChangeFirst = (checked, item) => {
            item.checkedList = []
            item.indeterminate = false
            item?.children.forEach((sitem) => {
              sitem.checked = checked
              if (checked) {
                item.checkedList = [...item.checkedList, sitem.path]
              }
            })
          }
          const onChangeSecond = (checkedList, item) => {
            item.children.forEach((sitem) => {
              sitem.checked = checkedList.includes(sitem.path)
            })
            item.checked = checkedList.length === item.children.length
            item.indeterminate = checkedList.length > 0 && checkedList.length < item.children.length
          }

          const onSave = () => {
            const data = JSON.parse(JSON.stringify(state.menuList))
            const res = data.filter((item) => {
              if (item?.children?.length) {
                item.children = item.children.filter((sitem) => sitem.checked)
              }
              return item.checked || item.indeterminate
            })
            console.log(res)
          }
 /**
           * 图片转base64
           * @param {string} 图片地址
           * @returns
           */
          const imageUrlToBase64 = (imageUrl) => {
            return new Promise((resolve, reject) => {
              let image = new Image()
              image.setAttribute('crossOrigin', 'Anonymous')
              image.src = imageUrl
              image.onload = function () {
                const canvas = document.createElement('canvas')
                canvas.width = image.width
                canvas.height = image.height
                const context = canvas.getContext('2d')
                context.drawImage(image, 0, 0, image.width, image.height)
                const base64Str = canvas.toDataURL('image/png')
                resolve(base64Str)
              }
              image.onerror = function (e) {
                reject(e)
              }
            })
          }

          /**
           * 转换base64
           * @param {string} base64
           * @returns
           */
          function parseBase64(base64) {
            let re = new RegExp('data:(?<type>.*?);base64,(?<data>.*)')
            let res = re.exec(base64)
            if (res) {
              return {
                type: res.groups.type,
                ext: res.groups.type.split('/').slice(-1)[0],
                data: res.groups.data
              }
            }
          }

          /**
           * 复制文字
           * @param {string} text  要复制的文本
           * @returns {boolean} true/false
           */
          const copyText = async (text) => {
            if (navigator && navigator.clipboard) {
              const result = await navigator.clipboard.writeText(text)
              console.log(result)
              return true
            }
            // 动态创建 textarea 标签
            const textarea = document.createElement('textarea')
            // 将该 textarea 设为 readonly 防止 iOS 下自动唤起键盘，同时将 textarea 移出可视区域
            textarea.readOnly = 'readonly'
            textarea.style.position = 'absolute'
            textarea.style.left = '-9999px'
            textarea.style.opacity = '0'
            // 将要 copy 的值赋给 textarea 标签的 value 属性
            textarea.value = text
            // 将 textarea 插入到 body 中
            document.body.appendChild(textarea)
            // 选中值并复制
            textarea.select()
            const result = document.execCommand('Copy')
            document.body.removeChild(textarea)
            console.log(result)
            return result
          }

          /**
           * 复制图片
           * @param {string} imageUrl 图片地址
           * @param {boolean} isBase64 是否是base64
           */
          const copyImage = async (imageUrl, isBase64 = false) => {
            let base64Url = ''
            if (!isBase64) {
              base64Url = await imageUrlToBase64(imageUrl)
            } else base64Url = imageUrl
            const parsedBase64 = parseBase64(base64Url)
            let type = parsedBase64.type
            //将base64转为Blob类型
            let bytes = atob(parsedBase64.data)
            let ab = new ArrayBuffer(bytes.length)
            let ua = new Uint8Array(ab)
            for (let i = 0; i < bytes.length; i++) {
              ua[i] = bytes.charCodeAt(i)
            }
            let blob = new Blob([ab], { type })
            navigator.clipboard.write([new ClipboardItem({ [type]: blob })])
          }

          onMounted(() => {
            setTimeout(() => {
              state.number = 92561
            }, 30)
          })
          return {
            ...toRefs(state),
            onClick,
            onEmit,
            onSave,
            onChangeFirst,
            onChangeSecond
          }
        }
      })
      app.use(ElementPlus)
      app.mount('#app')
    </script>
  </body>
</html>












